.btn{
  border-radius: 35px;
  padding: 18px 42px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}

.btn__main{
  text-align: center;
  width: 168px;
  border-radius: 35px;
  padding: 18px 42px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}


.btn__main:hover{
  background: #DA0100;
}

.btn--color--red{
  background: #F5170E;
  color: #fff;
}


.btn--color-white{
  padding: 16px 30px;
  border: 1px solid #F5170E;
  color: #F5170E;
  
}

.btn--color-white:hover{
  background: #F5170E;
  color: #fff;
}

.btn--color--black{
  background: #8E8E8E;
  
  color: #fff;
}


.btn--color--black:hover{
  background: #2B2B2B;
  color: #fff;
}