.footer{
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer-container__section{
  min-height: 146px;
  margin-top: 15px;
}

.footer__col{
  display: flex;
  align-items: center;
}

.footer-container{
  margin-top: auto;
}

.footer-container__content{
  border-top: 1px solid #1a3038 ;
}

.footer__col--align--right{
  align-items: flex-end;
}

.inner-footer__container{
  padding: 45px 0;
}

.inner-footer{
  margin-top: auto;
  background: #001821;
  color: #FFFFFF;
}