.hero__text-section{
  width: 100%;
  max-width: 511px;
  margin-bottom: 243px;
}

.hero__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 600px;
}


.hero__title{
  font-size: 72px;
  font-weight: bold;
  line-height: 94px;
  margin-bottom: 29px;
}

.hero__subtitle{
  font-size: 18px;
  margin-bottom: 31px;
}